<link href="https://fonts.googleapis.com/css?family=Iceberg" rel="stylesheet">
<!-- <nav class="navbar navbar-inverse" style="background-image: url('https://images.pexels.com/photos/373543/pexels-photo-373543.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');" > -->
    <div class="container-fluid" >
      <div class="style" >
        <strong>
			<br>
			<br>
			<br>
			<br>
          <i class="navbar-brand" [ngStyle]="{'color': 'black', 'font-size': '35px', 'font-weight': 'bold'}" >WELCOME TO LICENSE MANAGEMENT PORATAL</i><br>
        </strong> 
          <!-- <ul class="navbar-name" [ngStyle]="{'color': 'black', 'font-size': '15px'}">(Powered by Blockchain)</ul> -->
            <!-- <label col-xs-6 class="navbar-name">Name:</label> -->
      </div>